

<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-yearlychart></app-yearlychart>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-recent-table></app-recent-table>
<!-- ============================================================== -->
<!-- Table -->

<div class="row">
    <!-- column -->
    <div class="col-lg-6">
    </div>
    <!-- column -->
    <div class="col-lg-6">
    </div>
</div>
